@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.cabecalho {
    background: #363435;
    height: 80px;
    display: flex;  
    align-items: center;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.imagem{
    padding: 50px 120px 0 0px;
    z-index: 100;
    height: 180px;
}

.texto1{
    color: #FFC539;
    font-family: 'Lato', sans-serif;
    font-size: 22px;  
    width: 100%;
    padding-left: 200px;
    padding-top: 10px;
}
.menu{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.redes{
    padding-top: 10px;
    padding-right: 200px;
    display: flex;
    flex-direction: row;
}
.face{
    height: 40px;
    padding-right: 10px;
}
.insta{
    height: 40px;
}
.whats{
    height: 40px;
    padding-left: 9px;
}
